# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
SomeName.csv
SomeNameLong.csv
SomeText.csv
SomeTextLong.csv
TextsAboutLOR.csv
fanfiction_analysis.Rmd
.RDataTmp
comments
corpus
determamfidd_Sansûkh_.txt
fanfiction_analysis_CA_100_MFWs_Culled_0__Classic Delta_EDGES.csv
fanfiction_analysis_Consensus_100-1000_MFWs_Culled_0__Classic Delta_C_0.5_EDGES.csv
fanfiction_analysis_Consensus_100-1000_MFWs_Culled_0__Classic Delta_C_0.5_NODES.csv
fanfiction_analysis_Consensus_100-1000_MFWs_Culled_0__Classic Delta_C_0.5__001.jpg
fanfiction_analysis_PCA_100_MFWs_Culled_0__PCA__001.jpg
frequencies_analyzed_1000mfw_0c.txt
frequencies_analyzed_100mfw_0c.txt
frequencies_analyzed_200mfw_0c.txt
frequencies_analyzed_300mfw_0c.txt
frequencies_analyzed_400mfw_0c.txt
frequencies_analyzed_500mfw_0c.txt
frequencies_analyzed_600mfw_0c.txt
frequencies_analyzed_700mfw_0c.txt
frequencies_analyzed_800mfw_0c.txt
frequencies_analyzed_900mfw_0c.txt
remaining comments
stylo_config.txt
table_with_frequencies.txt
wordlist.txt
